<?xml version="1.0"?>
<!-- * BrainSINS' Magento Extension allows to integrate the BrainSINS * personalized 
	product recommendations into a Magento Store. * Copyright (c) 2014 Social 
	Gaming Platform S.R.L. * * This file is part of BrainSINS' Magento Extension. 
	* * BrainSINS' Magento Extension is free software: you can redistribute it 
	* and/or modify it under the terms of the GNU General Public License * as 
	published by the Free Software Foundation, either version 3 of the * License, 
	or (at your option) any later version. * * Foobar is distributed in the hope 
	that it will be useful, * but WITHOUT ANY WARRANTY; without even the implied 
	warranty of * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
	* GNU General Public License for more details. * * You should have received 
	a copy of the GNU General Public License * along with Foobar. If not, see 
	<http://www.gnu.org/licenses/>. * * Please do not hesitate to contact us 
	at info@brainsins.com -->
<config>
    <modules>
        <Brainsins_Recommender>
            <version>2.1.5</version>
        </Brainsins_Recommender>
    </modules>
    <global>
        <models>
            <brainsins_recommender>
                <class>Brainsins_Recommender_Model</class>
            </brainsins_recommender>
        </models>
        <helpers>
            <brainsins_recommender>
                <class>Brainsins_Recommender_Helper</class>
            </brainsins_recommender>
        </helpers>
        <blocks>
            <brainsins_recommender>
                <class>Brainsins_Recommender_Block</class>
            </brainsins_recommender>
        </blocks>
        <resources>
            <brainsins_recommender_setup>
                <setup>
                    <module>Brainsins_Recommender</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brainsins_recommender_setup>
            <brainsins_recommender_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brainsins_recommender_read>
        </resources>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <brainsins_recommender>
                        <type>model</type>
                        <class>brainsins_recommender/observer</class>
                        <method>onPayment</method>
                    </brainsins_recommender>
                </observers>
            </sales_order_invoice_save_after>
            <order_cancel_after>
                <observers>
                    <brainsins_recommender>
                        <type>model</type>
                        <class>brainsins_recommender/observer</class>
                        <method>onOrderCancel</method>
                    </brainsins_recommender>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <frontend>
        <routers>
            <brainsins_recommender>
                <use>standard</use>
                <args>
                    <module>Brainsins_Recommender</module>
                    <frontName>brainsins</frontName>
                </args>
            </brainsins_recommender>
        </routers>
        <layout>
            <updates>
                <brainsins_recommender>
                    <file>brainsins_recommender.xml</file>
                </brainsins_recommender>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <brainsins_recommender>
                        <type>model</type>
                        <class>brainsins_recommender/observer</class>
                        <method>insertBlock</method>
                    </brainsins_recommender>
                </observers>
            </core_block_abstract_to_html_after>
            <customer_save_after>
                <observers>
                    <brainsins_recommender>
                        <type>model</type>
                        <class>brainsins_recommender/observer</class>
                        <method>customerRegister</method>
                    </brainsins_recommender>
                </observers>
            </customer_save_after>
            <customer_login>
                <observers>
                    <brainsins_recommender>
                        <type>model</type>
                        <class>brainsins_recommender/observer</class>
                        <method>customerLogin</method>
                    </brainsins_recommender>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <brainsins_recommender>
                        <type>model</type>
                        <class>brainsins_recommender/observer</class>
                        <method>customerLogout</method>
                    </brainsins_recommender>
                </observers>
            </customer_logout>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <brainsins_recommender>
                        <class>brainsins_recommender/observer</class>
                        <method>subscribedToNewsletter</method>
                    </brainsins_recommender>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <controller_action_postdispatch>
                <observers>
                    <brainsins_recommender>
                        <type>singleton</type>
                        <class>brainsins_recommender/observer</class>
                        <method>updateCartEvent</method>
                    </brainsins_recommender>
                </observers>
            </controller_action_postdispatch>
            <checkout_cart_update_items_after>
                <observers>
                    <brainsins_recommender>
                        <class>brainsins_recommender/observer</class>
                        <method>updateCart</method>
                    </brainsins_recommender>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_update_cart_after>
                <observers>
                    <brainsins_recommender>
                        <type>singleton</type>
                        <class>brainsins_recommender/observer</class>
                        <method>updateCart</method>
                    </brainsins_recommender>
                </observers>
            </checkout_update_cart_after>
            <sales_quote_save_after>
                <observers>
                    <brainsins_recommender>
                        <type>singleton</type>
                        <class>brainsins_recommender/observer</class>
                        <method>updateCart</method>
                    </brainsins_recommender>
                </observers>
            </sales_quote_save_after>
            <checkout_cart_save_after>
                <observers>
                    <brainsins_recommender>
                        <type>singleton</type>
                        <class>brainsins_recommender/observer</class>
                        <method>updateCart</method>
                    </brainsins_recommender>
                </observers>
            </checkout_cart_save_after>
            <sales_order_payment_place_end>
                <observers>
                    <brainsins_recommender>
                        <type>model</type>
                        <class>brainsins_recommender/observer</class>
                        <method>onEndCheckout</method>
                    </brainsins_recommender>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </frontend>
    <admin>
        <routers>
            <brainsins_recommender>
                <use>admin</use>
                <args>
                    <module>Brainsins_Recommender</module>
                    <frontName>brainsins_admin</frontName>
                </args>
            </brainsins_recommender>
        </routers>
        <layout>
            <updates>
                <brainsins_recommender>
                    <file>brainsins_recommender.xml</file>
                </brainsins_recommender>
            </updates>
        </layout>

    </admin>
    <adminhtml>
        <translate>
            <modules>
                <brainsins_recommender>
                    <files>
                        <default>Brainsins_Recommender.csv</default>
                    </files>
                </brainsins_recommender>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <brainsins_recommender_options>
                                            <title>Brainsins Recommender Options</title>
                                            <sort_order>100</sort_order>
                                        </brainsins_recommender_options>
                                        <brainsins_recommender_dashboard>
                                            <title>Brainsins Recommender Dashboard</title>
                                            <sort_order>101</sort_order>
                                        </brainsins_recommender_dashboard>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <brainsins_recommender>
                    <file>brainsins_recommender.xml</file>
                </brainsins_recommender>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <brainsins_recommender_options>
            <brainsins_recommender_general>
                <enabled>0</enabled>
                <email_tracking>1</email_tracking>
            </brainsins_recommender_general>
            <brainsins_recommender_feed>
                <tax_included>1</tax_included>
                <special_price>1</special_price>
            </brainsins_recommender_feed>
            <brainsins_recommender_advanced>
                <ajax_tracking>0</ajax_tracking>
                <custom_script>0</custom_script>
                <product_id_field>entity_id</product_id_field>
                <category_id_field>entity_id</category_id_field>
                <tracking_tax>1</tracking_tax>
            </brainsins_recommender_advanced>
        </brainsins_recommender_options>
    </default>
</config>