<?xml version="1.0" encoding="UTF-8"?>
<!-- * BrainSINS' Magento Extension allows to integrate the BrainSINS * personalized 
	product recommendations into a Magento Store. * Copyright (c) 2014 Social 
	Gaming Platform S.R.L. * * This file is part of BrainSINS' Magento Extension. 
	* * BrainSINS' Magento Extension is free software: you can redistribute it 
	* and/or modify it under the terms of the GNU General Public License * as 
	published by the Free Software Foundation, either version 3 of the * License, 
	or (at your option) any later version. * * Foobar is distributed in the hope 
	that it will be useful, * but WITHOUT ANY WARRANTY; without even the implied 
	warranty of * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
	* GNU General Public License for more details. * * You should have received 
	a copy of the GNU General Public License * along with Foobar. If not, see 
	<http://www.gnu.org/licenses/>. * * Please do not hesitate to contact us 
	at info@brainsins.com -->
<config>
	<tabs>
		<brainsins_recommender_tab translate="label"
			module="brainsins_recommender">
			<label>BrainSINS</label>
			<sort_order>1000</sort_order>
			<class>tab-brainsins-extensions</class>
		</brainsins_recommender_tab>
	</tabs>
	<sections>
		<brainsins_recommender_options
			translate="label" module="brainsins_recommender">
			<label>Configuration</label>
			<tab>brainsins_recommender_tab</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<help translate="label" module="brainsins_recommender">
					<frontend_model>brainsins_recommender/adminhtml_system_config_fieldset_help
					</frontend_model>
					<help_link>http://developers.brainsins.com/plugins/magento.html
					</help_link>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</help>
				<brainsins_recommender_general
					translate="label comment" module="brainsins_recommender">
					<label>General</label>
					<comment><![CDATA[ <button type="button" class="scalable scalable go" onclick="window.open('http://www.brainsins.com')" style="display:none;"><span><span><span>I am not a BrainSINS user yet</span></span></span></button>]]></comment>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Enable or disable the extension.</comment>
							<frontend_type>select</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<source_model>adminhtml/system_config_source_yesno</source_model>
						</enabled>
						<bs_key translate="label comment">
							<label>BS-KEY</label>
							<comment>BrainSINS KEY format: BS-0123456789-1</comment>
							<frontend_type>text</frontend_type>
							<validate>required-entry validate-bskey-format</validate>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
						</bs_key>
						<email_tracking translate="label comment">
							<label>Customer email tracking</label>
							<comment>Needed for cart abandonment service.</comment>
							<frontend_type>select</frontend_type>
							<source_model>brainsins_recommender/adminhtml_system_config_source_emailtracking
							</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enabled>1</enabled>
							</depends>
						</email_tracking>
					</fields>
				</brainsins_recommender_general>
				<brainsins_recommender_recommenders
					translate="label comment" module="brainsins_recommender">
					<label>Recommenders</label>
					<comment></comment>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<brainsins_recommender_recommenders_home
							type="group" tranlate="label comment">
							<label>Home page recommenders</label>
							<comment></comment>
							<frontend_model>brainsins_recommender/adminhtml_system_config_fieldset_expanded
							</frontend_model>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<fields>
								<recommenders_home tranlate="label comment">
									<label>Enabled recommenders</label>
									<comment>Recommenders
										to enable at home page.<![CDATA[<br />]]>Custom
										pos overrides the recommender position.
									</comment>
									<frontend_model>brainsins_recommender/adminhtml_system_config_source_recommenders_home
									</frontend_model>
									<backend_model>brainsins_recommender/adminhtml_system_config_backend_serialized
									</backend_model>
									<sort_order>10</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</recommenders_home>
							</fields>
						</brainsins_recommender_recommenders_home>
						<brainsins_recommender_recommenders_product
							type="group" tranlate="label comment">
							<label>Product page recommenders</label>
							<comment></comment>
							<frontend_model>brainsins_recommender/adminhtml_system_config_fieldset_expanded
							</frontend_model>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<fields>
								<recommenders_product tranlate="label comment">
									<label>Enabled recommenders</label>
									<comment>Recommenders
										to enable at product page.<![CDATA[<br />]]>Custom
										pos overrides the recommender position.
									</comment>
									<frontend_model>brainsins_recommender/adminhtml_system_config_source_recommenders_product
									</frontend_model>
									<backend_model>brainsins_recommender/adminhtml_system_config_backend_serialized
									</backend_model>
									<sort_order>10</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</recommenders_product>
							</fields>
						</brainsins_recommender_recommenders_product>
						<brainsins_recommender_recommenders_category
							type="group" tranlate="label comment">
							<label>Category page recommenders</label>
							<comment></comment>
							<frontend_model>brainsins_recommender/adminhtml_system_config_fieldset_expanded
							</frontend_model>
							<frontend_type>text</frontend_type>
							<sort_order>25</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<fields>
								<recommenders_category tranlate="label comment">
									<label>Enabled recommenders</label>
									<comment>Recommenders
										to enable at category page.<![CDATA[<br />]]>Custom
										pos overrides the recommender position.
									</comment>
									<frontend_model>brainsins_recommender/adminhtml_system_config_source_recommenders_category
									</frontend_model>
									<backend_model>brainsins_recommender/adminhtml_system_config_backend_serialized
									</backend_model>
									<sort_order>10</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</recommenders_category>
							</fields>
						</brainsins_recommender_recommenders_category>
						<brainsins_recommender_recommenders_cart
							type="group" tranlate="label comment">
							<label>Cart page recommenders</label>
							<comment></comment>
							<frontend_model>brainsins_recommender/adminhtml_system_config_fieldset_expanded
							</frontend_model>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<fields>
								<recommenders_cart tranlate="label comment">
									<label>Enabled recommenders</label>
									<comment>Recommenders
										to enable at cart page.<![CDATA[<br />]]>Custom
										pos overrides the recommender position.
									</comment>
									<frontend_model>brainsins_recommender/adminhtml_system_config_source_recommenders_cart
									</frontend_model>
									<backend_model>brainsins_recommender/adminhtml_system_config_backend_serialized
									</backend_model>
									<sort_order>10</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</recommenders_cart>
							</fields>
						</brainsins_recommender_recommenders_cart>
						<brainsins_recommender_recommenders_checkout
							type="group" tranlate="label comment">
							<label>Thank you page recommenders</label>
							<comment></comment>
							<frontend_model>brainsins_recommender/adminhtml_system_config_fieldset_expanded
							</frontend_model>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<fields>
								<recommenders_checkout tranlate="label comment">
									<label>Enabled recommenders</label>
									<comment>Recommenders
										to enable at thank you page.<![CDATA[<br />]]>Custom
										pos overrides the recommender position.
									</comment>
									<frontend_model>brainsins_recommender/adminhtml_system_config_source_recommenders_checkout
									</frontend_model>
									<backend_model>brainsins_recommender/adminhtml_system_config_backend_serialized
									</backend_model>
									<sort_order>10</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</recommenders_checkout>
							</fields>
						</brainsins_recommender_recommenders_checkout>
					</fields>
				</brainsins_recommender_recommenders>
				<brainsins_recommender_feed translate="label comment"
					module="brainsins_recommender">
					<label>Feeds</label>
					<comment></comment>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<cron_enabled translate="label comment">
							<label>Enable feeds auto generation</label>
							<comment>Enable or disable the scheduled feed generation.
							</comment>
							<frontend_type>select</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<source_model>adminhtml/system_config_source_yesno</source_model>
						</cron_enabled>
						<cron_time translate="label comment">
							<label>Start Time</label>
							<comment></comment>
							<frontend_type>time</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<depends>
								<cron_enabled>1</cron_enabled>
							</depends>
						</cron_time>
						<cron_frequency translate="label comment">
							<label>Frequency</label>
							<comment></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_cron_frequency
							</source_model>
							<backend_model>brainsins_recommender/adminhtml_system_config_backend_cron
							</backend_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<depends>
								<cron_enabled>1</cron_enabled>
							</depends>
						</cron_frequency>
						<product_feed type="group" tranlate="label comment">
							<label>Products feed</label>
							<comment></comment>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<cron_enabled>1</cron_enabled>
							</depends>
							<fields>
								<include_oos_products translate="label comment">
									<label>Include out of stock products</label>
									<comment></comment>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno
									</source_model>
									<sort_order>10</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</include_oos_products>
								<tax_included translate="label comment">
									<label>Prices with taxes included</label>
									<comment></comment>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno
									</source_model>
									<sort_order>20</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</tax_included>
								<special_price translate="label comment">
									<label>Special price instead normal</label>
									<comment></comment>
									<frontend_type>select</frontend_type>
									<source_model>adminhtml/system_config_source_yesno
									</source_model>
									<sort_order>30</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</special_price>
								<product_description_attribute
									translate="label comment">
									<label>Product description attribute</label>
									<comment></comment>
									<frontend_type>select</frontend_type>
									<source_model>brainsins_recommender/adminhtml_system_config_source_attributes
									</source_model>
									<sort_order>40</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</product_description_attribute>
								<product_image_resize_width
									translate="label comment">
									<label>Custom image width</label>
									<comment>Leave blank for default width</comment>
									<frontend_type>text</frontend_type>
									<sort_order>44</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</product_image_resize_width>
								<product_image_resize_height
									translate="label comment">
									<label>Custom image height</label>
									<comment>Leave blank for default height</comment>
									<frontend_type>text</frontend_type>
									<sort_order>45</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</product_image_resize_height>
								<offline_feed translate="label comment">
									<label>Offline feed</label>
									<comment></comment>
									<frontend_model>brainsins_recommender/adminhtml_system_config_source_feeds_productOffline
									</frontend_model>
									<sort_order>50</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</offline_feed>
								<online_feed translate="label comment">
									<label>Online feed</label>
									<comment></comment>
									<frontend_model>brainsins_recommender/adminhtml_system_config_source_feeds_productOnline
									</frontend_model>
									<sort_order>60</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
								</online_feed>
							</fields>
						</product_feed>
						<!-- <cronjob_expression tranlate="label comment"> <label>Programacin 
							sincronizacin stock</label> <comment>Frecuencia de la sincronizacin del stock. 
							Introducir expresin Cron (p.e. "0 * * * *" para cada hora en punto).</comment> 
							<frontend_type>text</frontend_type> <backend_model>ecommbits_eral/adminhtml_system_config_backend_cron</backend_model> 
							<sort_order>20</sort_order> <show_in_default>1</show_in_default> <show_in_website>1</show_in_website> 
							<show_in_store>0</show_in_store> <depends> <cron_enabled>1</cron_enabled> 
							</depends> </cronjob_expression> -->
					</fields>
				</brainsins_recommender_feed>
				<brainsins_recommender_advanced
					translate="label comment" module="brainsins_recommender">
					<label>Advanced Configuration</label>
					<comment>Do not modify these values unless required by BrainSINS
					</comment>
					<frontend_type>text</frontend_type>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<api_mode translate="label comment">
							<label>Select BrainSINS API Mode</label>
							<comment></comment>
							<frontend_type>select</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<source_model>brainsins_recommender/adminhtml_system_config_source_apimode</source_model>
						</api_mode>
					</fields>
				</brainsins_recommender_advanced>
			</groups>
		</brainsins_recommender_options>
		<brainsins_recommender_dashboard
			translate="label" module="brainsins_recommender">
			<label>Dashboard</label>
			<tab>brainsins_recommender_tab</tab>
			<frontend_type>text</frontend_type>
			<sort_order>2</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<dashboard translate="label">
					<label>BrainSINS Dashboard</label>
					<frontend_type>text</frontend_type>
					<frontend_model>brainsins_recommender/adminhtml_system_config_form_fieldset_dashboard_dashboard
					</frontend_model>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</dashboard>
			</groups>
		</brainsins_recommender_dashboard>
	</sections>
</config>
